*{
    font-family: 'Courier New', Courier, monospace;
}

#Title {
    margin: 50px 0 0 50px;
    font-size: 100px;
}

div{
   background-color:red 
}

html, body {
    height: 100%;
    margin: 0;
    padding:0;
    border:0;
}

#chat-container{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#message-container{
    display: flex;
    flex-direction: column;
}

.message{
    width:70%;
    margin: 1rem;
    padding:1rem;
}

.from-other{
    background-color: greenyellow;
    border-radius: 2rem 2rem 2rem 0rem;
}

.from-me{
    background-color: lightblue;
    margin-left: auto;
    border-radius: 2rem 2rem 0rem 2rem;
}

.rounded-corners{
    border-radius: 1rem;
}

#message-input-container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly ;
}

.full-width{
    width:100%;
}

.fade-to-white{
    mask-image: linear-gradient(to bottom, rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,1), rgba(255,255,255,.2), rgba(255,255,255,0));
    
}