div{
   background-color:red 
}

html, body {
    height: 100%;
    margin: 0;
    padding:0;
    border:0;
}

div.form-format{
    width: 30%;
    height: 50%;
    margin-left: 35%;
    margin-top:15%;
}

form.form-format{
    width:90%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.form-input-format{
    width: 100%;
    height: 20%;
}

#chat-container{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#message-container{
    display: flex;
    flex-direction: column;
}

.message{
    width:70%;
    margin: 1rem;
    padding:1rem;
}

.from-other{
    background-color: greenyellow;
    border-radius: 2rem 2rem 2rem 0rem;
}

.from-me{
    background-color: lightblue;
    margin-left: auto;
    border-radius: 2rem 2rem 0rem 2rem;
}

.rounded-corners{
    border-radius: 1rem;
}

#message-input-container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly ;
}