



#message-input-container{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly ;
}


#chat-container{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

#message-container{
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow-y: auto; 
}

.message{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:70%;
    margin: 1rem;
    padding:1rem;
}

.from-other{
    background-color: greenyellow;
    border-radius: 2rem 2rem 2rem 0rem;
}

.from-me{
    background-color: lightblue;
    margin-left: auto;
    border-radius: 2rem 2rem 0rem 2rem;
}

.msg-user{
    align-self: flex-start;
    margin: 0;
}

.msg-text{
    align-self: flex-start;
    margin: 4px 0;
}
.msg-state{
    align-self: flex-end;
    justify-self: flex-end;

}