*{
    font-family: 'Courier New', Courier, monospace;
}

#Title {
    margin: 50px 0 0 50px;
    font-size: 100px;
}

html, .body {
    height: 100vh; 
    margin: 0;
    padding:0;
    border:0;
}


.rounded-corners{
    border-radius: 1rem;
}


.full-width{
    width:100%;
}

.fade-to-white{
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255,0),rgba(255,255,255,.2),rgba(255,255,255,1), rgba(255,255,255,.2), rgba(255,255,255,0));
    
}