*{
    font-family: 'Courier New', Courier, monospace;
}

#Title {
    margin: 10px 0 0 20px;
    font-size: 40px;
}

.body {
    margin: 0;
    padding:0;
    border:0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex:1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.rounded-corners{
    border-radius: 1rem;
}


.full-width{
    width:100%;
}

.fade-to-white{
    mask-image: linear-gradient(to bottom, rgb(255, 255, 255,0),rgba(255,255,255,.2),rgba(255,255,255,1), rgba(255,255,255,.2), rgba(255,255,255,0));
    
}

footer{
    height:40px;
    padding: .5rem;
    font-size: 0.9rem;
    flex-shrink: 0;
}